.Button {
	background-color:#839398;
	font-family:Calibri;
	color:#ffffff;
	border:3px solid #4d5c61;
	font-size:20px;
	border-radius:20px;
	padding:10px 50px 10px 50px;
}																																																									
