.score_title {
	margin: 20px 400px 20px 400px;
	background-color:#ffffff;
	border-radius: 12px;
	box-shadow:8px 8px #839398;
	padding:16px;
}

.score_title ol {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}
