.Title {
	display:flex;
	justify-content:center;
	align-items:center;
	text-align: center;
	font-family:Calibri;
	font-size:75px;
	color:#ffffff;
	border-top:10px solid #425054;
	border-bottom:10px solid #425054;
	background-color:#6c7b7f;
	}
